@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --offset-x: 32px;
  --color: #1a1b1c;
  --icon-size: 24px;
}

html,
body {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.introduction__square {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
}

.dotted-square {
  --base-transform: translate(0);
  --base-rotation: 45deg;
  --size: 250px;
  --transition-duration: 0.3s;
  display: block;
  height: var(--size);
  position: relative;
  transform: rotate(var(--base-rotation));
  width: var(--size);
  will-change: transform;
}

.dotted-square.is-animated {
  animation: spin 120s linear infinite;
}

.dotted-square.is-expanded:before {
  --base-transform: translate(-50%, -50%) scale(1.1);

  transform: var(--base-transform);

  transition: transform var(--transition-duration)
    cubic-bezier(0.08, 0.5, 0.44, 0.96);
}

.dotted-square.is-not-expanded:before,
.dotted-square:before {
  --base-transform: translate(-50%, -50%);
  opacity: 0.6;
  transform: var(--base-transform);
  transition: transform var(--transition-duration)
    cubic-bezier(0.08, 0.5, 0.44, 0.96) calc(var(--transition-duration) / 2);
}

.dotted-square.is-animated:before {
  animation: spin 480s linear infinite;
}

.dotted-square.is-animated:after {
  animation: spin 240s linear infinite;
}

.dotted-square.is-expanded:after {
  --base-transform: translate(-50%, -50%) scale(1.2);
  opacity: 0.3;
  transform: var(--base-transform);
  transition: transform var(--transition-duration)
      cubic-bezier(0.08, 0.5, 0.44, 0.96) calc(var(--transition-duration) / 2),
    opacity 0s calc(var(--transition-duration) / 2);
}

.dotted-square.is-not-expanded:after,
.dotted-square:after {
  --base-transform: translate(-50%, -50%) scale(1.1);

  opacity: 0;
  transform: var(--base-transform);
  transition: transform var(--transition-duration)
      cubic-bezier(0.08, 0.5, 0.44, 0.96),
    opacity 0s ease calc(var(--transition-duration) / 2);
}

.dotted-square:after,
.dotted-square:before {
  --base-rotation: 0deg;
  border: inherit;
  content: "";
  height: inherit;
  left: 50%;
  position: absolute;
  top: 50%;
  width: inherit;
}

.dotted-square,
.dotted-square:after,
.dotted-square:before {
  background-image: repeating-linear-gradient(
      -18deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      72deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      162deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      252deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    );

  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
}

.introduction__input {
  border-bottom: 1px solid;
  line-height: 1;
  color: #1a1b1c;
  text-align: center;
  font-size: clamp(44px, 12px + 2.5vw, 60px);
  letter-spacing: -0.07em;
  font-weight: 400;
  line-height: 1;
  margin-top: 0;
  appearance: none;
  background-color: #0000;
  border: 0;
  display: block;
  padding: var(--padding-y) 0;
  transition: border-color 0.2s ease;
}

form {
  clip-path: inset(0%);
}

.dotted-square:after,
.dotted-square:before {
  --base-rotation: 0deg;
  border: inherit;
  content: "";
  height: inherit;
  left: 50%;
  position: absolute;
  top: 50%;
  width: inherit;
}

.dotted-square,
.dotted-square:after,
.dotted-square:before {
  background-image: repeating-linear-gradient(
      -18deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      72deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      162deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      252deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    );

  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
}

.dotted-square,
.dotted-square:after,
.dotted-square:before {
  background-image: repeating-linear-gradient(
      -18deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,

      #58595a 0
    ),
    repeating-linear-gradient(
      72deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      162deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      252deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    );

  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
}

.introduction-square .dotted-square {
  --size: 23.43vw;
}

.introduction-square {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
}

button {
  background-color: #0000;
  border: 0;
  font-family: inherit;
  padding: 0;
  user-select: none;
  -webkit-appearance: button;
  margin: 0;
  border-radius: 0;
}

.button__proceed {
  cursor: pointer;
  color: #1a1b1c;
  --color-default: #1a1b1c;
  --color-hover: var(--color-default);
  --color-active: var(--color-hover);
  --color-disabled: #a0a4ab;
  --color: var(--color-default);
  --outline-color: #1a1b1c;
  --text-offset-x: 18px;
  --text-translate-x: 28px;
  --icon-size: 24px;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s ease;
  font-size: clamp(10px, 2px + 0.625vw, 14px);
  line-height: 1.6;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.button__back {
  cursor: pointer;
  color: #1a1b1c;
  --color-default: #1a1b1c;
  --color-hover: var(--color-default);
  --color-active: var(--color-hover);
  --color-disabled: #a0a4ab;
  --color: var(--color-default);
  --outline-color: #1a1b1c;
  --text-offset-x: 18px;
  --text-translate-x: 28px;
  --icon-size: 24px;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s ease;
  font-size: clamp(10px, 2px + 0.625vw, 14px);
  line-height: 1.6;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.button__icon--square {
  order: 1;
  flex-shrink: 0;
  height: var(--icon-size);
  width: var(--icon-size);
}

.button__icon--square-inner {
  align-items: center;
  display: inline-flex;
  height: inherit;
  justify-content: center;
  padding: calc(var(--icon-size) * 0.35);
  position: relative;
  width: inherit;
}

.button__icon-left {
  transform: rotate(90deg);
}

.button__icon-right {
  transform: rotate(-90deg);
}

svg {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.consult__button {
  cursor: pointer;
  --color-default: #fcfcfc;
  --bg-color-default: #1a1b1c;
  --bg-color-hover: #2e2f31;
  --bg-color-active: #333536;
  --bg-color-disabled: #c1c2c3;
  --bg-color: var(--bg-color-default);
  --border-color-default: var(--bg-color-default);
  --border-color-hover: var(--border-color-default);
  --border-color-active: var(--border-color-hover);
  --border-color-disabled: var(--bg-color-disabled);
  --border-color: var(--border-color-default);
  --color-hover: var(--color-default);
  --color-active: var(--color-hover);
  --color-disabled: #a0a4ab;
  --color: var(--color-default);
  --outline-color: #1a1b1c;
  --padding-x: 16px;
  --padding-y: 8px;
  --height: calc(1.6em + var(--padding-y) * 2);
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 0;
  color: #fcfcfc;
  display: inline-block;
  flex-shrink: 0;
  height: var(--height);
  overflow: clip;
  padding: var(--padding-y) var(--padding-x);
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color .3sease, border-color .3sease, background-color .3sease;
  font-size: clamp(10px, 2px + .625vw, 14px);
  line-height: 1.6;
  font-weight: 600;
  letter-spacing: -.02em;
}

.access__button {
 cursor: pointer;
 --square-size: 20vw;
 --icon-size: 112px;
 position: relative;
}

.visually__hidden {
  clip: rect(0 0 0 0) !important;
  border: 0 !important;
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.loading__screen {
  align-items: center;
  background-color: #fcfcfc;
  color: #1a1b1c;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (max-width: 1366px) {
  .index-dotted-square .dotted-square,
  .introduction-square .dotted-square {
    --size: 30vw;
  }
}

@media screen and (max-width: 1199px) {
  .introduction-square .dotted-square {
    --size: 42vmax;
  }
}

@keyframes spin {
  0% {
    transform: var(--base-transform) rotate(calc(var(--base-rotation)));
  }

  100% {
    transform: var(--base-transform) rotate(calc(var(--base-rotation) + 1turn));
  }
}
