@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --offset-x: 32px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 773px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.introduction__square {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
}

.dotted-square {
  --base-transform: translate(0);
  --base-rotation: 45deg;
  --size: 200px;
  --transition-duration: 0.3s;
  display: block;
  height: var(--size);
  position: relative;
  transform: rotate(var(--base-rotation));
  width: var(--size);
  will-change: transform;
}

.dotted-square.is-animated {
  animation: spin 120s linear infinite;
}

.dotted-square.is-expanded:before {
  --base-transform: translate(-50%, -50%) scale(1.1);

  transform: var(--base-transform);

  transition: transform var(--transition-duration)
    cubic-bezier(0.08, 0.5, 0.44, 0.96);
}

.dotted-square.is-not-expanded:before,
.dotted-square:before {
  --base-transform: translate(-50%, -50%);

  opacity: 0.6;

  transform: var(--base-transform);

  transition: transform var(--transition-duration)
    cubic-bezier(0.08, 0.5, 0.44, 0.96) calc(var(--transition-duration) / 2);
}

.dotted-square.is-animated:before {
  animation: spin 480s linear infinite;
}

.dotted-square.is-animated:after {
  animation: spin 240s linear infinite;
}

.dotted-square.is-expanded:after {
  --base-transform: translate(-50%, -50%) scale(1.2);

  opacity: 0.3;

  transform: var(--base-transform);

  transition: transform var(--transition-duration)
      cubic-bezier(0.08, 0.5, 0.44, 0.96) calc(var(--transition-duration) / 2),
    opacity 0s calc(var(--transition-duration) / 2);
}

.dotted-square.is-not-expanded:after,
.dotted-square:after {
  --base-transform: translate(-50%, -50%) scale(1.1);

  opacity: 0;
  transform: var(--base-transform);
  transition: transform var(--transition-duration)
      cubic-bezier(0.08, 0.5, 0.44, 0.96),
    opacity 0s ease calc(var(--transition-duration) / 2);
}

.dotted-square:after,
.dotted-square:before {
  --base-rotation: 0deg;
  border: inherit;
  content: "";
  height: inherit;
  left: 50%;
  position: absolute;
  top: 50%;
  width: inherit;
}

.dotted-square,
.dotted-square:after,
.dotted-square:before {
  background-image: repeating-linear-gradient(
      -18deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      72deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      162deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      252deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    );

  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
}

.introduction__input {
  border-bottom: 1px solid;
  line-height: 1;
  width: 12.5ch;
  color: #1a1b1c;
  text-align: center;
  font-size: clamp(44px, 12px + 2.5vw, 60px);
  letter-spacing: -0.07em;
  font-weight: 400;
  line-height: 1;
  margin-top: 0;
  appearance: none;
  background-color: #0000;
  border: 0;
  display: block;
  padding: var(--padding-y) 0;
  transition: border-color 0.2s ease;
}

form {
  clip-path: inset(0%);
}

.introduction__input--label {
  transition: opacity 0.15s cubic-bezier(0.08, 0.5, 0.44, 0.96);
  width: 12.5ch;
  color: #1a1b1c;
  text-align: center;
  font-size: clamp(44px, 12px + 2.5vw, 60px);
  letter-spacing: -0.07em;
  line-height: 1.33;
  font-weight: 400;
  left: 0;
  margin-bottom: 0;
  margin-top: 0;
  pointer-events: none;
  display: block;
  top: 5%;
  position: absolute;
}

.dotted-square:after,
.dotted-square:before {
  --base-rotation: 0deg;
  border: inherit;
  content: "";
  height: inherit;
  left: 50%;
  position: absolute;
  top: 50%;
  width: inherit;
}

.dotted-square,
.dotted-square:after,
.dotted-square:before {
  background-image: repeating-linear-gradient(
      -18deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      72deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      162deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      252deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    );

  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
}

.dotted-square,
.dotted-square:after,
.dotted-square:before {
  background-image: repeating-linear-gradient(
      -18deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,

      #58595a 0
    ),
    repeating-linear-gradient(
      72deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      162deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      252deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    );

  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
}

.introduction-square .dotted-square {
  --size: 23.43vw;
}

.introduction-square {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (max-width: 1366px) {
  .index-dotted-square .dotted-square,
  .introduction-square .dotted-square {
    --size: 30vw;
  }
}

@media screen and (max-width: 1199px) {
  .introduction-square .dotted-square {
    --size: 42vmax;
  }
}

@keyframes spin {
  0% {
    transform: var(--base-transform) rotate(calc(var(--base-rotation)));
  }

  100% {
    transform: var(--base-transform) rotate(calc(var(--base-rotation) + 1turn));
  }
}